.deck-summary {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin: 1rem;
}

.deck-description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px black solid;
  padding: 0.5rem;
}

.deck-breakdown {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}

.deck-breakdown-element-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.deck-breakdown-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deck-breakdown-element {
  display: flex;
  flex-direction: row;
}
